In [88]:
import numpy as np
import pandas as pd


crop = pd.read_csv("Crop_recommendation.csv")
crop.head() #classificaiton and supervised learning problem// catagorical lebels not integral

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [89]:
crop.shape

crop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [90]:
crop.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [91]:
crop.duplicated().sum()

0

In [92]:
crop.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [93]:
corr = crop.corr
corr

<bound method DataFrame.corr of         N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]>

In [ ]:
!pip install seaborn

In [ ]:
 crop['label'].value_counts()

In [ ]:
import seaborn as sns

import matplotlib.pyplot as plt
sns.distplot(crop['N'])
plt.show()

In [ ]:
#encoding
#changing catagorical variables to numaricals 
#creating dictionary > and will convery them as per their values 
crop

In [ ]:
crop_dict = {
'rice'    :       1,
'maize'    :      2,
'jute'      :     3,
'cotton'     :    4,
'coconut'    :    5,
'papaya'      :   6,
'orange' :        7,
'apple'    :      8,
'muskmelon'   :   9,
'watermelon'   :  10,
'grapes'       :  11,
'mango'        :  12,
'banana'       :  13,
'pomegranate'  :  14,
'lentil'       :  15,
'blackgram'    :  16,
'mungbean'     :  17,
'mothbeans'    :  18,
'pigeonpeas'   :  19,
'kidneybeans'  :  20,
'chickpea'     :  21,
'coffee'       :  22
}
crop['crop_num']= crop['label'].map(crop_dict)

In [ ]:
crop['crop_num'].value_counts()

In [ ]:
crop.drop('label', axis = 1, inplace=True)
crop.head()

In [ ]:
#trian test split
x = crop.drop('crop_num', axis = 1)
y = crop['crop_num']

In [ ]:
x.shape

In [ ]:
y.shape

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
!pip install scikit-learn

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42)
x_train.shape

In [ ]:
x_test.shape

In [ ]:
x_train

In [ ]:
#minmaxScaler #to get the featutres in specific range
from sklearn.preprocessing import MinMaxScaler 
ms = MinMaxScaler()

ms.fit(x_train)
x_train = ms.transform(x_train)
x_test = ms.transform(x_test)

In [ ]:
x_train

In [ ]:
#standardization 
from sklearn.preprocessing import StandardScaler 
sc = StandardScaler()

sc.fit(x_train)
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

In [ ]:
x_train

In [ ]:
from sklearn.linear_model import LogisticRegression 
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import BaggingClassifier 
from sklearn.ensemble import GradientBoostingClassifier 
from sklearn.ensemble import AdaBoostClassifier 
from sklearn.metrics import accuracy_score 

#creating instances of all the models
models = {
    'Logistic Regression' : LogisticRegression(),
    'naive Bayer' : GaussianNB(),
    'Support Vector Machine' : SVC(),
    'K-Nearest Neighbours' : KNeighborsClassifier(),
    'Dicision tree' : DecisionTreeClassifier(),
    'Random Forest' : RandomForestClassifier(),
    'Bagging' :  BaggingClassifier(),
    'AdaBoost' : AdaBoostClassifier(),
    'Gradient Boosting' : GradientBoostingClassifier(),
}

for name, md in models.items():
    md.fit(x_train, y_train)
    ypred = md.predict(x_test)

    print(f"{name}  with accuracy : {accuracy_score(y_test, ypred)} " )

In [ ]:
#selecting Random Forest
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
ypred = md.predict(x_test)
accuracy_score(y_test, ypred)

In [ ]:
#predictive system 
#backend 
def recommendation(N,P,K,temperature, humidity, ph, rainfall):
        features =  np.array([[N,P,K,temperature, humidity, ph, rainfall]])
        prediction = rfc.predict(features).reshape(1, -1)
        return prediction[0]

In [ ]:
N = 40
P = 50
k = 50
temperature = 40.0
humidity = 20
ph = 100
rainfall = 100

predict = recommendation(N,P,k,temperature,humidity,ph,rainfall)


crop_dict = {1: "Rice", 2: "Maize", 3: "Jute", 4: "Cotton", 5: "Coconut", 6: "Papaya", 7: "Orange",
                 8: "Apple", 9: "Muskmelon", 10: "Watermelon", 11: "Grapes", 12: "Mango", 13: "Banana",
                 14: "Pomegranate", 15: "Lentil", 16: "Blackgram", 17: "Mungbean", 18: "Mothbeans",
                 19: "Pigeonpeas", 20: "Kidneybeans", 21: "Chickpea", 22: "Coffee"}

if predict[0] in crop_dict:
    crop = crop_dict[predict[0]]
    print("{} is a best crop to be cultivated ".format(crop))
else:
    print("Sorry are not able to recommend a proper crop for this environment")

In [ ]:
import pickle
pickle.dump(rfc,open('model.pkl','wb'))
pickle.dump(ms,open('minmaxscaler.pkl','wb'))
pickle.dump(sc,open('standscaler.pkl','wb'))